<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href="/css/testjs.css" rel="stylesheet">
</head>
<body>
	<section class="wrapper">
		<div class="container">
			<div class="left">
				<a href="/lich-su-mua-hang" class="">Danh sách đơn hàng đã mua</a> <a
					href="/lich-su-mua-hang/thong-tin-ca-nhan" class="active">Thông
					tin cá nhân và sổ địa chỉ</a>
			</div>
			<div class="right">
				<div class="user" data-customer="1071829421">
					Chào anh <b>Anh Tùng</b> - <b>0969499813</b> <a
						href="/lich-su-mua-hang/dang-xuat" class="logout-h">Thoát tài
						khoản</a> <a class="about-s">|</a> <a class="feed-back"> <img
						src="/lich-su-mua-hang/images/icon-mes.png"> Phản hồi, góp ý
					</a>
				</div>
				<div id="overbackgroud"></div>
				<div class="feed-back-detail">
					<img class="close-p" src="/lich-su-mua-hang/images/iconclose.png">
					<h2>Phản hồi, góp ý lịch sử mua hàng</h2>
					<div class="infor-user">
						<h3>Thông tin khách hàng:</h3>
						<span><span class="sex-f" data-id="1">Anh:</span> <b
							class="name-f">Anh Tùng</b> - <b class="phone-f">0969499813</b></span>
					</div>
					<div class="feed-user">
						<h3>Thông tin phản hồi góp ý:</h3>
						<textarea id="myTextarea" name="txtFeedback"
							placeholder="Vui lòng nhập tiếng Việt có dấu..."></textarea>
						<button type="submit" class="submid-feed"
							onclick="SendFeedback(13);">GỬI</button>
						<div class="loader"></div>
					</div>
				</div>
				<div class="result"></div>
				<div class="profile">

					<h3>Thông tin cá nhân</h3>
					<div>
						<span class="active" data-val="1"><i></i><b>Anh</b></span> <span
							class="" data-val="0"><i></i><b>Chị</b></span> <input
							type="hidden" name="hdGender" value="1">
					</div>
					<input type="text" name="txtFullName" value="Anh Tùng"> <input
						type="tel" name="txtPhoneNumber" disabled="" value="0969499813">
					<a href="javascript:;" onclick="AddressEdit($(this), -2)"
						class="add show"><i class="iconlsmh-add"></i>Thêm địa chỉ nhận
						hàng</a>

					<form id="frmAddress" class="address"
						onsubmit="return AddressSubmit()">
						<input name="__RequestVerificationToken" type="hidden"
							value="CfDJ8ATZIKhAOnlOk2rhIVIlhM7ZK-sHlQfxUbgyIOhUx2eJnCmy5l5NuJYrH1CKDCIUg5JFYC6meT1ZoHIXiSKt_2u82xMQul4WlRFvHjzsoM3G20CX3GxhF6v1EMTLaCHhqQ0NSkKdw9Mz0C60MRZcw4XviXM3S-C3t2qr9o0zbXqgOOxwXAx7cQD2P4RDpMePKA">
						<div id="ddlProvince" class="province inline">
							<span data-value="0">Tỉnh/ Thành phố</span>
							<div class="select">
								<div class="o-search">
									<input type="text" name="key"
										placeholder="Nhập tỉnh, thành để tìm nhanh">
									<button></button>
								</div>
								<div class="list scroll">
									<div class="item">
										<a href="javascript:;" data-value="3">Hồ Chí Minh</a> <a
											href="javascript:;" data-value="5">Hà Nội</a> <a
											href="javascript:;" data-value="9">Đà Nẵng</a> <a
											href="javascript:;" data-value="82">An Giang</a> <a
											href="javascript:;" data-value="102">Bà Rịa - Vũng Tàu</a> <a
											href="javascript:;" data-value="103">Bắc Giang</a> <a
											href="javascript:;" data-value="104">Bắc Kạn</a> <a
											href="javascript:;" data-value="105">Bạc Liêu</a> <a
											href="javascript:;" data-value="106">Bắc Ninh</a> <a
											href="javascript:;" data-value="107">Bến Tre</a> <a
											href="javascript:;" data-value="108">Bình Định</a> <a
											href="javascript:;" data-value="109">Bình Dương</a> <a
											href="javascript:;" data-value="110">Bình Phước</a> <a
											href="javascript:;" data-value="111">Bình Thuận</a> <a
											href="javascript:;" data-value="81">Cà Mau</a> <a
											href="javascript:;" data-value="7">Cần Thơ</a> <a
											href="javascript:;" data-value="112">Cao Bằng</a> <a
											href="javascript:;" data-value="6">Đắk Lắk</a> <a
											href="javascript:;" data-value="113">Đắk Nông</a> <a
											href="javascript:;" data-value="114">Điện Biên</a> <a
											href="javascript:;" data-value="8">Đồng Nai</a> <a
											href="javascript:;" data-value="115">Đồng Tháp</a> <a
											href="javascript:;" data-value="116">Gia Lai</a> <a
											href="javascript:;" data-value="117">Hà Giang</a> <a
											href="javascript:;" data-value="118">Hà Nam</a> <a
											href="javascript:;" data-value="120">Hà Tĩnh</a> <a
											href="javascript:;" data-value="121">Hải Dương</a> <a
											href="javascript:;" data-value="101">Hải Phòng</a> <a
											href="javascript:;" data-value="122">Hậu Giang</a> <a
											href="javascript:;" data-value="123">Hòa Bình</a> <a
											href="javascript:;" data-value="124">Hưng Yên</a> <a
											href="javascript:;" data-value="125">Khánh Hòa</a>
									</div>
									<div class="item">
										<a href="javascript:;" data-value="126">Kiên Giang</a> <a
											href="javascript:;" data-value="127">Kon Tum</a> <a
											href="javascript:;" data-value="128">Lai Châu</a> <a
											href="javascript:;" data-value="129">Lâm Đồng</a> <a
											href="javascript:;" data-value="130">Lạng Sơn</a> <a
											href="javascript:;" data-value="131">Lào Cai</a> <a
											href="javascript:;" data-value="132">Long An</a> <a
											href="javascript:;" data-value="133">Nam Định</a> <a
											href="javascript:;" data-value="134">Nghệ An</a> <a
											href="javascript:;" data-value="135">Ninh Bình</a> <a
											href="javascript:;" data-value="136">Ninh Thuận</a> <a
											href="javascript:;" data-value="137">Phú Thọ</a> <a
											href="javascript:;" data-value="138">Phú Yên</a> <a
											href="javascript:;" data-value="139">Quảng Bình</a> <a
											href="javascript:;" data-value="140">Quảng Nam</a> <a
											href="javascript:;" data-value="141">Quảng Ngãi</a> <a
											href="javascript:;" data-value="142">Quảng Ninh</a> <a
											href="javascript:;" data-value="143">Quảng Trị</a> <a
											href="javascript:;" data-value="144">Sóc Trăng</a> <a
											href="javascript:;" data-value="145">Sơn La</a> <a
											href="javascript:;" data-value="146">Tây Ninh</a> <a
											href="javascript:;" data-value="147">Thái Bình</a> <a
											href="javascript:;" data-value="148">Thái Nguyên</a> <a
											href="javascript:;" data-value="149">Thanh Hóa</a> <a
											href="javascript:;" data-value="150">Thừa Thiên Huế</a> <a
											href="javascript:;" data-value="151">Tiền Giang</a> <a
											href="javascript:;" data-value="152">Trà Vinh</a> <a
											href="javascript:;" data-value="153">Tuyên Quang</a> <a
											href="javascript:;" data-value="154">Vĩnh Long</a> <a
											href="javascript:;" data-value="155">Vĩnh Phúc</a> <a
											href="javascript:;" data-value="156">Yên Bái</a>
									</div>
								</div>
								<input type="hidden" name="hdProvinceId" value="0">
							</div>
						</div>
						<div id="ddlDistrict" class="district inline">
							<span data-value="0">Quận/ Huyện</span> <input type="hidden"
								name="hdDistrictId" value="0">
						</div>
						<div id="ddlWard" class="ward inline">
							<span data-value="0">Phường/ Xã</span> <input type="hidden"
								name="hdWardId" value="0">
						</div>
						<input type="text" name="txtAddress" class="inline"
							placeholder="Số nhà, tên đường">
						<p class="frmAddress_error"></p>
						<span class=""> <i></i> <b>Đặt làm địa chỉ mặc định</b> <input
							type="hidden" name="hdIsDefault" value="false">
						</span>
					</form>
					<a href="javascript:AddressSubmit()" class="button">CẬP NHẬT</a> <input
						type="hidden" name="hdAddressId" value="-3"> <input
						name="__RequestVerificationToken" type="hidden"
						value="CfDJ8ATZIKhAOnlOk2rhIVIlhM7ZK-sHlQfxUbgyIOhUx2eJnCmy5l5NuJYrH1CKDCIUg5JFYC6meT1ZoHIXiSKt_2u82xMQul4WlRFvHjzsoM3G20CX3GxhF6v1EMTLaCHhqQ0NSkKdw9Mz0C60MRZcw4XviXM3S-C3t2qr9o0zbXqgOOxwXAx7cQD2P4RDpMePKA">
				</div>
			</div>
		</div>
	</section>

</body>
</html>